
friendsApp/.vs/slnx.sqlite
friendsApp/.vs/friendsApp/FileContentIndex/759c214a-b6c6-46cf-b013-e1003be7c3c1.vsidx
friendsApp/.vs/ProjectSettings.json
friendsApp/.vs/VSWorkspaceState.json
friendsApp/.vs/friendsApp/v17/DocumentLayout.json
friendsApp/.vs/friendsApp/v17/.wsuo
